//bootstrap css
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

//fonts
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900i);

//variables mixin and other stuff
@import "mixin";
@import "variabels";
@import "everything";

//include pages
@import "footer";
@import "nav";

//import scroll
@import "skroll";