@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900i);
.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.wrapper, html, body {
  background: #ffffff;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px; }

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 5px black;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); }
