@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900i);
.wrapper, html, body {
  background: #454545;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.wrapper, html, body {
  background: #454545;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

.footer {
  background: #1e1e1e;
  height: 50vh;
  z-index: 10; }
  .footer .footer-container {
    height: 42vh; }
    .footer .footer-container .footer_mid_container p {
      font-size: 1.5vw;
      font-weight: 600; }
    .footer .footer-container .footer_right_container p {
      font-size: 1.5vw;
      font-weight: 600; }
    .footer .footer-container .footer_right_container a {
      font-size: 2vw;
      text-align: center;
      text-decoration: none;
      margin-right: 0.4vw;
      color: #2b2b2b; }
      .footer .footer-container .footer_right_container a i {
        height: 6vh;
        width: 6vh;
        line-height: 6vh;
        background: #454545;
        border-radius: 50%; }
        .footer .footer-container .footer_right_container a i:hover {
          background: #8a8a8a; }
  .footer .footer_bot_container {
    height: 8vh; }
    .footer .footer_bot_container p {
      color: #454545;
      font-size: 1.5vw; }
    .footer .footer_bot_container a {
      float: right !important;
      margin-right: 2vh;
      color: #ffffff;
      font-size: 1vw; }

.wrapper, html, body {
  background: #454545;
  z-index: 1;
  position: relative;
  overflow-x: hidden; }

/*Styling for the entire html file*/
/*Styling for the body*/
body {
  font-family: 'Lato', sans-serif; }

section {
  z-index: 2;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; }

.nom, .nopm, .wrapper, html, body, section {
  margin: 0 !important; }

.nop, .nopm, .wrapper, html, body, section {
  padding: 0 !important; }

.tole, .wrapper, html, body, section {
  top: 0 !important;
  left: 0 !important; }

.fullw, .full_size {
  width: 100% !important; }

.fullh, .full_size {
  height: 100% !important; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px; }

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 5px black;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5); }
